<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.css">

</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <table width="100%">
        <tr>
            <td width="100p" align="left">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="/" th:text="#{nav.home}"></a>
                    </li>
                </ul>
            </td>
            <td align="left"><p class="h1" th:text="#{nav.admin}"></p></td>
            <td>
                <ul class="nav justify-content-end">
                    <div class="btn-group">
                        <button th:text="#{lang.change}" type="button" class="btn dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                        </button>
                        <div class="dropdown-menu" id="locales">
                            <a class="dropdown-item" href="/admin/dishes?lang=en" th:text="#{lang.eng}"></a>
                            <a class="dropdown-item" href="/admin/dishes?lang=ru" th:text="#{lang.ru}"></a>
                        </div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/logout" th:text="#{nav.logout}"></a>
                    </li>
                </ul>
            </td>
        </tr>
    </table>

</nav>

<nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/admin" th:text="#{tabs.orders}"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users" th:text="#{tabs.clients}"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/admin/dishes" th:text="#{tabs.menu}"></a>
        </li>
    </ul>
</nav>


<div class="container mt-5">

    <div><p class="h1" th:text="#{headers.menu}"></p></div>
    <div class="allDishesList">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col" th:text="#{tab.columns.title}"></th>
                <th scope="col" th:text="#{tab.columns.cost}"></th>
                <th scope="col" th:text="#{tab.columns.desc}"></th>
                <th scope="col" th:text="#{tab.columns.veg}"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <form method="post" action="/admin/dishes/add" class="form-inline">
                    <td>
                        <input type="hidden" name="id" class="form-control" value="0">
                    </td>
                    <td>
                        <input type="text" name="title" class="form-control" placeholder="title">
                    </td>
                    <td>
                        <input type="text" name="cost" class="form-control" placeholder="cost">
                    </td>
                    <td>
                        <textarea name="description" class="form-control" rows="3" placeholder="Description"></textarea>
                    </td>
                    <td>
                        <input id="vegeterian" type="checkbox" name="is_vegeterian" value="true"
                               class="form-control-left"/>
                        <input type="hidden" name="is_vegeterian" value="false">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" th:text="#{buttons.add}"></button>
                    </td>
                    <td></td>
                    <td></td>

                </form>
            </tr>
            <tr th:each="dish : ${allDishesList}">
                <form method="post" action="/admin/dishes/update" class="form-inline">
                    <td>
                        <input type="hidden" name="id" class="form-control" th:value="${dish.id}">
                    </td>
                    <td width="30%">
                        <input type="text" name="title" class="form-control" th:value="${dish.title}">
                    </td>
                    <td width="9%">
                        <input type="text" name="cost" class="form-control"
                               th:value="${#numbers.formatDecimal(dish.cost, 1, 2, 'POINT')}">
                    </td>
                    <td width="35%">
                        <textarea name="description" class="form-control" rows="3"
                                  th:text="${dish.description}"></textarea>
                    </td>
                    <td width="5%">
                        <input type="checkbox" name="is_vegeterian" th:checked="${dish.vegeterian}" th:value="true"/>
                        <input type="hidden" name="is_vegeterian" th:value="false">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary" th:text="#{buttons.update}"></button>
                    </td>
                </form>
                <td>
                    <a th:href="@{'/admin/dishes/delete/{id}' (id=${dish.id})}"/>
                    <button type="button" class="btn btn-danger" th:text="#{buttons.delete}"></button>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-5" th:if="${errorMessage != null}">
    <span class="alert alert-danger" role="alert" th:text="${errorMessage}"> </span>
</div>

</body>
</html>