<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.css">

</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <table width="100%"> <tr>
    <td width="100p" align="left">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="/" th:text="#{nav.home}"></a>
            </li>
        </ul>
    </td>
    <td align="left"><p class="h1" th:text="#{nav.admin}"></p></td>
    <td>
        <ul class="nav justify-content-end">
            <div class="btn-group">
                <button th:text="#{lang.change}" type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                </button>
                <div class="dropdown-menu" id="locales">
                    <a class="dropdown-item" href="/admin?lang=en" th:text="#{lang.eng}"></a>
                    <a class="dropdown-item" href="/admin?lang=ru" th:text="#{lang.ru}"></a>
                </div>
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/user/logout" th:text="#{nav.logout}"></a>
            </li>
        </ul>
    </td>
    </tr>
    </table>

</nav>
<nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/admin" th:text="#{tabs.orders}"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users" th:text="#{tabs.clients}"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/dishes" th:text="#{tabs.menu}"></a>
        </li>
    </ul>
</nav>

<div class="container mt-5">

    <div><p class="h1"th:text="#{headers.orders}"> </p></div>
    <div class="allOrdersList" th:unless="${#lists.isEmpty(allOrdersList)}">

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th width="20p"></th>
                <th scope="col" th:text="#{tab.columns.orderNum}"> </th>
                <th scope="col" th:text="#{tab.columns.client}"> </th>
                <th scope="col" th:text="#{tab.columns.status}"> </th>
                <th scope="col" th:text="#{tab.columns.cost}"> </th>
                <th scope="col" th:text="#{tab.columns.paid}"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
            </tr>
            </thead>
            <div th:each="order : ${allOrdersList}">
            <tbody>
            <tr class="clickable" data-toggle="collapse" th:attr="data-target='#dishes'+${order.id}" aria-expanded="false" aria-controls="dishes">
                <td>+</td>
                <td th:text="${order.id}"> </td>
                <td th:text="${order.client.fullName}"> </td>
                <td th:text="${order.status}"> </td>
                <td th:text="${#numbers.formatDecimal(order.getOrderCost(), 1, 2, 'POINT')}"></td>
                <td> <input type="checkbox" th:checked="${order.paid}" th:disabled="1"/></td>
                <!--<td th:switch="${order.status}">-->
                    <!--<a th:case="${T(restaurant.entities.enums.OrderStatus).APPLIED}" th:href="@{'/admin/apply/{id}'(id=${order.getId()})}" >-->
                        <!--<button type="button" class="btn btn-primary" disabled>Apply</button>-->
                    <!--</a>-->
                    <!--<a th:case="${T(restaurant.entities.enums.OrderStatus).READY}" th:href="@{'/admin/apply/{id}'(id=${order.getId()})}" >-->
                        <!--<button type="button" class="btn btn-primary" disabled>Apply</button>-->
                    <!--</a>-->
                    <!--<a th:case="${T(restaurant.entities.enums.OrderStatus).NEW}" th:href="@{'/admin/apply/{id}'(id=${order.getId()})}" >-->
                        <!--<button type="button" class="btn btn-primary">Apply</button>-->
                    <!--</a>-->
                <!--</td>-->
                <!--<td th:switch="${order.status}">-->
                    <!--<a th:case="${T(restaurant.entities.enums.OrderStatus).APPLIED}" th:href="@{'/admin/ready/{id}'(id=${order.getId()})}" >-->
                        <!--<button type="button" class="btn btn-success">Ready</button>-->
                    <!--</a>-->
                    <!--<a th:case="${T(restaurant.entities.enums.OrderStatus).READY}" th:href="@{'/admin/ready/{id}'(id=${order.getId()})}" >-->
                        <!--<button type="button" class="btn btn-success" disabled>Ready</button>-->
                    <!--</a>-->
                    <!--<a th:case="${T(restaurant.entities.enums.OrderStatus).NEW}" th:href="@{'/admin/ready/{id}'(id=${order.getId()})}" >-->
                        <!--<button type="button" class="btn btn-success" disabled>Ready</button>-->
                    <!--</a>-->
                <!--</td>-->
                <td>
                    <a th:href="@{/admin/apply/(id=${order.id})}">
                        <button class="btn btn-primary" th:text="#{buttons.apply}"></button>
                    </a>
                </td>
                <td>
                    <a th:href="@{/admin/ready/(id=${order.id})}" >
                        <button type="button" class="btn btn-success" th:text="#{buttons.ready}"></button>
                    </a>
                </td>

                <td th:switch="${order.status}">
                    <a th:unless="${order.status == T(restaurant.entities.enums.OrderStatus).READY}"
                       th:href="@{/admin/cancel/(id=${order.id})}" >
                        <button type="button" class="btn btn-danger" th:text="#{buttons.cancel}"></button>
                    </a>
                    <a th:if="${order.status == T(restaurant.entities.enums.OrderStatus).READY}"
                       th:href="@{/admin/cancel/(id=${order.id})}" >
                        <button type="button" class="btn btn-danger" disabled th:text="#{buttons.cancel}"></button>
                    </a>
                    <!--<a th:case="${T(restaurant.entities.enums.OrderStatus).NEW}" th:href="@{'/admin/cancel/{id}'(id=${order.getId()})}" >-->
                        <!--<button type="button" class="btn btn-danger">Cancel</button>-->
                    <!--</a>-->
                </td>
            </tr>
            </tbody>
            <tbody th:id="'dishes' + ${order.id}" class="collapse">
                <tr th:height="30" th:each="dish : ${order.getDishes()}">
                    <td colspan="2"></td>
                    <td colspan="3" th:text="${dish.key.title}"> </td>
                    <td th:text="${#numbers.formatDecimal(dish.key.cost, 1, 2, 'POINT')}"> </td>
                    <td th:text="${dish.value}"> </td>
                    <td th:text="${#numbers.formatDecimal(dish.key.cost * dish.value, 1, 2, 'POINT')}"></td>
                </tr>
            </tbody>
            </div>
        </table>
    </div>
</div>

<div class="container mt-5" th:if="${errorMessage != null}">
    <span class="alert alert-danger" role="alert" th:text="${errorMessage}"> </span>
</div>

</body>
</html>