<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">


</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a th:text="#{nav.restaurant}" class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a th:text="#{nav.menu}" class="nav-link" href="/menu"></a>
            </li>
            <li class="nav-item">
                <a th:text="#{button.login}"class="nav-link" href="/login"></a>
            </li>

        </ul>
    </div>
    <div>
        <ul class="nav justify-content-end">
            <div class="btn-group">
                <button th:text="#{lang.change}" type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                </button>
                <div class="dropdown-menu" id="locales">
                    <a class="dropdown-item" href="/?lang=en" th:text="#{lang.eng}"></a>
                    <a class="dropdown-item" href="/?lang=ru" th:text="#{lang.ru}"></a>
                </div>
            </div>
        </ul>
    </div>
</nav>
<div class="container mt-5" >
    <h1 th:text="#{home.greeting}"> </h1>
</div>

<div>
    <img src="http://img-fotki.yandex.ru/get/5603/287605011.32c/0_15cbc3_39d79cf1_orig.Jpg"
         class="img-fluid" alt="Responsive image">
</div>


</body>
</html>