<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">

</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <table width="100%"> <tr>
        <td width="100p" align="left">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a th:text="#{nav.home}" class="nav-link active" href="/"></a>
                </li>
            </ul>
        </td>
        <td>
            <ul class="nav justify-content-end">
                <div class="btn-group">
                    <button th:text="#{lang.change}" type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" id="locales">
                        <a class="dropdown-item" href="login?lang=en" th:text="#{lang.eng}"></a>
                        <a class="dropdown-item" href="login?lang=ru" th:text="#{lang.ru}"></a>
                    </div>
                </div>
            </ul>
        </td>
    </tr></table>
</nav>
<div class="container mt-5">
    <p th:text="#{login.login}" class="text-left" style="font-size: 24px"></p>
    <form method="post" action="/login">

        <div class="form-group mb-6">
            <label th:text="#{tab.columns.email}" for="exampleInputEmail1"></label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                   aria-describedby="emailHelp"
                   placeholder="Enter email"
                   style="width: 40%">
        </div>
        <div class="form-group mb-6">
            <label th:text="#{user.password}" for="exampleInputPassword1"></label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                   placeholder="Password"
                   style="width: 40%">
        </div>
        <button th:text="#{button.login}" type="submit" class="btn btn-primary pull-left"></button>
        <div class="form-group mb-6">
            <input type="text" readonly class="form-control-plaintext" id="messsage1" th:value="${message}">
        </div>
    </form>

    <form th:action="@{/login/usercreator}">
        <button  th:text="#{button.createuser}" type="submit" class="btn btn-link pull-left"></button>
    </form>


</div>

</body>
</html>