<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <table width="100%"> <tr>
        <td width="100p" align="left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/" th:text="#{nav.home}"></a>
                </li>
            </ul>
        </td>
        <td>
            <ul class="nav justify-content-end">
                <div class="btn-group">
                    <button th:text="#{lang.change}" type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" id="locales">
                        <a class="dropdown-item" href="/menu?lang=en" th:text="#{lang.eng}"></a>
                        <a class="dropdown-item" href="/menu?lang=ru" th:text="#{lang.ru}"></a>
                    </div>
                </div>
            </ul>
        </td>
    </tr>
    </table>
</nav>

<div class="container">
    <div class="row-img-overlay">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 th:text="#{menu.title}" class="display-4"></h1>
            <p th:text="#{menu.description}" class="lead"></p>
        </div>
        <div class="card-columns">
            <div class="card card-body" th:each="dish : ${allDishesList}">
                <span class="float-right font-weight-bold" th:text="${{dish.getCost()}}"></span>
                <h6 class="text-underline" th:text="${{dish.getTitle()}}"></h6>
                <p class="small" th:text="${{dish.getDescription()}}"></p>
                <span class="font-weight-bold small"></span>
            </div>
        </div>
    </div>
</div>

</body>
</html>