<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">


</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <table width="100%" align="left"> <tr>
        <td width="100%" align="left">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a th:text="#{nav.home}" class="nav-link active" href="/"></a>
                </li>
            </ul>
        </td>
        <td>
            <ul class="nav">
                <li class="nav-item">
                    <a th:text="#{nav.back}" class="nav-link" href="/user"></a>
                </li>
            </ul>
        </td>
        <td>
            <ul class="nav justify-content-end">
                <div class="btn-group">
                    <button th:text="#{lang.change}" type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" id="locales">
                        <a class="dropdown-item" href="order?lang=en" th:text="#{lang.eng}"></a>
                        <a class="dropdown-item" href="order?lang=ru" th:text="#{lang.ru}"></a>
                    </div>
                </div>
            </ul>
        </td>
    </tr></table>
</nav>

<div class="container mt-5">

    <form>
        <div><p th:text="#{headers.dishes}" class="h1" ></p></div>
        <div class="dishList" th:unless="${#lists.isEmpty(dishList)}">

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{dishes.id}"> </th>
                    <th scope="col" th:text="#{tab.columns.title}"> </th>
                    <th scope="col" th:text="#{tab.columns.veg}"> </th>
                    <th scope="col"> </th>
                </tr>
                </thead>
                <tbody>
                <div th:each="dish : ${dishList}">
                    <tr>
                        <td th:text="${dish.getId()}"> </td>
                        <td th:text="${dish.getTitle()}"> </td>
                        <td>
                            <div th:if="${dish.isVegeterian()}">
                                <div th:text="YES"> </div>
                            </div>
                            <!-- ELSE -->
                            <div th:unless="${dish.isVegeterian()}">
                                <div th:text="NO"> </div>
                            </div>
                        </td>
                        <td>
                            <a th:href="@{'/user/order/adddish/{id}'(id=${dish.getId()})}" >
                                <button th:text="#{buttons.add}" type="button" class="btn btn-primary"></button>
                            </a>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </form>

    <form>
        <div><p th:text="#{order.new}" class="text" style="font-size: 24px"></p></div>
        <table class="table">
            <tbody>
            <tr th:each="dishInMap : ${currentDishMap}">
                <td th:text="${dishInMap.getKey().getTitle()}"> </td>
                <td th:text="${dishInMap.getValue()}"></td>
            </tr>
            </tbody>
        </table>
    </form>
    <form method="post" action="/user/order/create">
        <button type="submit" class="btn btn-primary" th:text="#{button.create}"></button>
    </form>
</div>


</body>
</html>